<% form_for @agencia, :builder => TableFormBuilder do |f| %>
  <%= error_messages_for :agencia, :object_name => 'esta agencia' %>

  <table>
    <%= f.text_field :nome %>
    <%= f.text_field :numero, :label => 'Número' %>
    <%= f.text_field :digito_verificador, :label => 'Dígito Verificador' %>
    <tr>
      <td class="field_descriptor">Banco</td>
      <td>
        <%= auto_complete_para_qualquer_campo(f,:banco,auto_complete_for_banco_bancos_path) %>
      </td>
    </tr>
    <tr>
      <td class="field_descriptor">Localidade</td>
      <td>
        <%= auto_complete_para_qualquer_campo(f,:localidade,auto_complete_for_localidade_localidades_path) %>
      </td>
    </tr>
    <%= f.text_field :endereco, :label => 'Endereço' %>
    <%= f.text_field :bairro %>
    <%= f.text_field :cep, :label => 'CEP' %>
    <%= f.text_field :complemento %>
    <%= f.text_field :telefone %>
    <%= f.text_field :fax %>
    <%= f.text_field :email, :label => 'E-mail' %>
    <%= f.text_field :nome_contato %>
    <%= f.text_field :email_contato %>
    <%= f.text_field :telefone_contato %>
    <%= f.check_box :ativo %>
    <tr><td></td><td><%= f.submit "Salvar" %></td></tr>
  </table>

<% end %>
