<% content_for :titulo, "Listando Movimentos" %>

<% form_tag movimentos_path, { :method => :get } do %>
  <table>
    <tr>
      <td class="field_descriptor">Data de Lançamento:</td>
      <td><%= calendar_date_select_tag_com_mascara :data_lancamento %></td>
      <td><%= submit_tag "Buscar" %></td>
    </tr>
  </table>
<% end %>

<% listagem_table :new => new_movimento_path, :permissoes => Perfil::ManipularDadosDosMovimentos, :headers => ['Data do lançamento', 'Número de Controle', 'Histórico', 'Tipo do lançamento', 'Valor Total'] do %>
  <% for movimento in @movimentos %>
    <% listagem_tr :edit => edit_movimento_path(movimento), :destroy => movimento, :permissoes => Perfil::ManipularDadosDosMovimentos do %>
      <td><%=h movimento.data_lancamento %></td>
      <td><%= link_to h(movimento.numero_de_controle), movimento %></td>
      <td><%=h movimento.historico %></td>
      <td><%=h movimento.tipo_lancamento_verbose %></td>
      <td><%=h preco_formatado(movimento.valor_total,"R$") %></td>
    <% end %>
  <% end %>
<% end %>
<%= will_paginate @movimentos %>
